<div class="container">
    <div class="howto_bar">
    </div>
    <div class="howto_text_title">
        후원은 어떻게 하나요?
    </div>

    <div class="howto_text_box d-flex align-items-start flex-column">
           <p class="howto_text_title2">Q1. 후원은 어디로 하나요?</p>
        <p class="howto_text_normal">후원금은 391-911145-53007 (하나은행, 예금주 : 이재승)으로 후원해주시면 됩니다.</p>
        <p class="howto_text_normal">많은 후원 부탁드립니다.</p>
    </div>

    <div class="howto_text_box d-flex align-items-start flex-column">
           <p class="howto_text_title2">Q2. 후원 하고 싶은데 어느 정도 후원해야하는지 모르신다면?</p>
        <p class="howto_text_normal">적당한 후원 금액을 추천드리고자 합니다. 적은 금액이라도 후원해주시면 감사하겠습니다.</p>
        <p class="howto_text_normal">최저 후원 금액 : 1만원
        <br> 어느 정도 여유로운 후원 금액 : 3만원
        <br> 높은 후원 금액 : 5만원
        </p>
        <p class="howto_text_normal">이 밖의 후원은 자유입니다.</p>
    </div>

    <div class="howto_text_box d-flex align-items-start flex-column">
           <p class="howto_text_title2">Q3. 후원 가이드</p>
        <p class="howto_text_normal">후원하고 싶은데 어떻게 후원해야 하는지 모르시는 분들은 FAQ를 참고해주세요.
        <br>정말 간단합니다.</p>
    </div>

    <div class="howto_text_box d-flex align-items-start flex-column">
           <p class="howto_text_title2">아이디어를 살리는 값진 후원,
           <br>정기적인 후원에 참여해보세요.</p>
    </div>



<%# <head>
    <style>
        #text1 { font-size: 19px }
        #text2 { font-size: 25px }
        
        .bold { font-weight: bold }
        .jinji{ font-family: "궁서" }
        .serif{ font-family: Serif }
        
        #box1 { text-align: right; }
        #box2 { text-align: left; }
        #box3 { text-align: center; }
        
        background-image: linear-gradient( 33.2deg,  rgba(157,147,247,1) 30.2%, rgba(117,176,247,1) 61.4% );
    </style>
</head>

<!--   hsla(,,) 색상,채도,밝기,투명도 
.inline{ display: inline; width: 200px; height: 60px; }
<span class="inline">inline</span>  -->

<body>
    <div class="howto_bar">
    </div>
<div>
  <h2 class="title">
    <span data-v-19c2b923="" class="main-title">후원은 여기에서!</span> 
  </h2>
  <div>

<div id="text2" class="bold"> 
<br>1. 후원하러가기 💸<br>
</div>

<div id="text1">
<!--아래 '문서명 또는 url주소'에 "후원자 명단 보기" 기능 넣으면 될거같음.-->

많은 후원 부탁드립니다. <br>
<!--<a href="문서명 또는 url주소"><button>후원하러가기</button></a><br><br>-->
</div><br>

<div id="text2" class="bold">
2. 맞춤 후원 🔍<br>
</div>

<div id="text1">
 후원 하고 싶은데 어느 정도 후원해야하는지 모르신다면?<br> 
걱정마세요. 적당한 후원 금액을 추천해 놓았습니다. 적은 금액이라도 후원해주세요.<br>
<br>
💰추천 금액💰<br>
<ul>
<li>1만원 (최저 후원 금액입니다)<br></li>
<li>3만원 (어느 정도 여유로운 후원 금액입니다)<br></li>
<li>5만원 (높은 후원 금액입니다.)<br></li>
<li>이밖에 후원은 자유입니다.<br><br></li>
</ul>
</div>

<div id="text2" class="bold">
3. 후원 가이드 ⚜️<br>
</div>

<div id="text1">
 후원 하고 싶은데 어떻게 후원해야하는지 모르시는 분들은 FAQ를 한번 참고해주세요.<br>
정말 간단합니다.
<br><br>

후원 문의 : 010-XXXX-XXXX<br><br>
</div>

<div id="text2" class= "jinji" >
    아이디어를 살리는 값진 후원, <br>정기적인 후원에 참여해보세요.👍</div>
    <br><br><br><br><br><br>

</body> %>