    <div class="container-fluid" id = "result-error">    
    <div class="row content">
        
        <div class="container">
        <div class="titlel">당첨자 발표</div> 
        </div>

        <div class="col-8 col-md-10 col-center m-auto text-center" id="winnerbox">
        <h4 class="lottitle"><br> 당첨자 수 > 참여자 수 ERROR! :( </h4>
    
       
        </div>

    </div>
    </div>
