
<div class="container-fluid">    
  <div class="row content">
    
    <div class="container">
      <div class="titlel">당첨자 발표</div> 
    </div>

    <div class="col-8 col-md-10 col-center m-auto text-center">
    <%= render 'form', lotto: @lotto %>
    </div>

  </div>
</div> 
