<div class="container">
    <div class="howto_bar">
    </div>
    <div class="howto_text_title">
        FAQ
    </div>

    <div class="howto_text_box d-flex align-items-start flex-column">
           <p class="howto_text_title2">Q1. 누가 이 프로그램을 만들었나요?</p>
        <p class="howto_text_normal">저희는 멋쟁이사자처럼 고려대학교 6기에서 결성된 팀입니다.</p>
        <p class="howto_text_normal">김보성(경영 17), 원혜진(영문 15), 이수영(지구환경 17), 이재승(통계 17), 이지원(컴퓨터 17), 허예림(경영 15)과 조성현(강남대 전기공학 18)이 함께 만들었습니다.</p>
    </div>

    <div class="howto_text_box d-flex align-items-start flex-column">
           <p class="howto_text_title2">Q2. 선거법에 위반되지 않나요?</p>
        <p class="howto_text_normal">「공직선거법」 제10조에 따르면 투표인증 사진 공모전은 공명선거추진활동의 일환으로 볼 수 있습니다.</p>
        <p class="howto_text_normal">중앙선거관리위원회로부터 해당 내용이 법에 저촉되지 않는다는 것을 확인받았습니다.</p>
    </div>

    <div class="howto_text_box d-flex align-items-start flex-column">
           <p class="howto_text_title2">Q3. 후원을 해야만 참여할 수 있나요?</p>
        <p class="howto_text_normal">후원을 하지 않더라도 누구나 참여 가능합니다.</p>
    </div>

    <div class="howto_text_box d-flex align-items-start flex-column">
           <p class="howto_text_title2">Q4. 투표인증 사진은 어떻게 응모하나요?</p>
        <p class="howto_text_normal">투표인증 사진은 온라인 투표와 오프라인 투표 모두 응모가 가능합니다.</p>
        <p class="howto_text_normal">1. 온라인 투표의 경우 투표완료 페이지를 캡처해서 응모하면 됩니다.</p>
        <p class="howto_text_normal">2. 오프라인 투표의 경우 손등에 선거도장을 찍은 사진이나 투표현장사진을 응모하면 됩니다.</p>
        <p class="howto_text_normal">단, 투표용지를 촬영하면 선거법 위반이 되오니 투표용지를 촬영하면 안 된다는 점 명심하시길 바랍니다.</p>
    </div>

    <div class="howto_text_box d-flex align-items-start flex-column">
           <p class="howto_text_title2">Q5. 투표인증 사진 응모에 제약이 있나요?</p>
        <p class="howto_text_normal">다음과 같은 사진은 당첨에서 제외됩니다.</p>
        <p class="howto_text_normal">- 선거와 관련 없는 사진 
        <br>- 투표용지를 촬영한 사진 
        <br>- 중복되는 사진 모두 
        <br>- 저작권에 저촉되는 사진 
        <br>- 기표소 내에서 촬영한 사진 
        <br>- 선거법에 위반되는 사진</p>
    </div>

    <div class="howto_text_box d-flex align-items-start flex-column">
           <p class="howto_text_title2">Q6. 개인정보는 어떻게 다루나요?</p>
        <p class="howto_text_normal">선거 로또 당첨자 선정을 위하여 응모자의 학번, 이름, 핸드폰번호 개인정보를 수집합니다.</p>
        <p class="howto_text_normal">당첨자의 개인정보는 상품 증정 이후 폐기되며, 미당첨자의 개인정보는 당첨자 선정 이후 즉시 폐기됩니다.</p>
    </div>

    <div class="howto_text_box d-flex align-items-start flex-column">
           <p class="howto_text_title2">Q7. 당첨 상품은 어떻게 결정되나요?</p>
        <p class="howto_text_normal">후원금에서 웹서비스 운영비(서버, 도메인 비용 등)를 제외한 비용으로 결정됩니다.</p>
        <p class="howto_text_normal">1, 2, 3등의 상금은 최대 금액으로 제한을 하고, 4등을 최대한 많이 추첨하여 5만원씩 드리게 됩니다. (예를 들어 운영비를 제외한 후원금이 2,000만원일 경우, 4등 당첨자 수는 240명이 됩니다)</p>
        <p class="howto_text_normal">- 1등(1명) : 후원금의 50% (최대 500만 원)
      <br>- 2등(1명) : 후원금의 20% (최대 200만 원)
      <br>- 3등(1명) : 후원금의 10% (최대 100만 원)
      <br>- 4등(000명) : 5만 원
      <br>(1~3등의 경우, 제세공과금 22% 공제 지급)</p>
    </div>

    <div class="howto_text_box d-flex align-items-start flex-column">
           <p class="howto_text_title2">Q8. 당첨자는 언제 발표되나요?</p>
        <p class="howto_text_normal">선거 종료 다음날 오후 9시에 추첨진행 및 당첨자 발표가 됩니다.</p>
        <p class="howto_text_normal">추첨 현장은 ‘고려대학교 총학생회 페이스북 페이지’에서 페이스북 라이브를 통해 생중계됩니다.</p>
        <p class="howto_text_normal">참고로, 고려대학교 제51대 총학생회장단 선거 투표 기간은 
        <br>12월 5일(화) ~ 12월 7일(목) 입니다.</p>
    </div>


<%# <div>
  <h2 class="title">
    <span data-v-19c2b923="" class="main-title">궁금한게 있어요!</span> 
  </h2>
  <div style="background-color: #7D2222; width: 60px; height: 5px;">FAQ</div>
  <br>  %>
  <%# <div>
      Q1. 누가 이 프로그램을 만들었나요?
      <br>저희는 멋쟁이사자처럼 고려대학교 6기에서 결성된 팀입니다. 
      <br>김보성(경영 17), 원혜진(영문 15), 이수영(지구환경 17), 이재승(통계 17), 이지원(컴퓨터 17), 허예림(경영 15)과 조성현(강남대 전기공학 18)이 함께 만들었습니다.<br><br>
  </div>
  <div>
      Q2. 선거법에 위반되지 않나요?
      <br>「공직선거법」 제10조에 따르면 투표인증 사진 공모전은 공명선거추진활동의 일환으로 볼 수 있습니다. 
      <br> 중앙선거관리위원회로부터 해당 내용이 법에 저촉되지 않는다는 것을 확인받았습니다.<br><br>
  </div>  
  <div> %>
      <%# Q3. 후원을 해야만 참여할 수 있나요?
      <br>후원을 하지 않더라도 누구나 참여 가능합니다.<br><br>
  </div>  
  <div>
      Q4. 투표인증 사진은 어떻게 응모하나요?
      <br>투표인증 사진은 온라인 투표와 오프라인 투표 모두 응모가 가능합니다. <br>
      1. 온라인 투표의 경우 투표완료 페이지를 캡처해서 응모하면 됩니다. <br>
      2. 오프라인 투표의 경우 손등에 선거도장을 찍은 사진이나 투표현장사진을 응모하면 됩니다. <br>
      단, 투표용지를 촬영하면 선거법 위반이 되오니 투표용지를 촬영하면 안 된다는 점 명심하시길 바랍니다.<br><br>
  </div>   %>
  <%# <div>
      Q5. 투표인증 사진 응모에 제약이 있나요?
      <br>다음과 같은 사진은 당첨에서 제외됩니다. <br>
    <br>- 선거와 관련 없는 사진
    <br>- 투표용지를 촬영한 사진
    <br>- 중복되는 사진 모두
    <br>- 저작권에 저촉되는 사진
    <br>- 기표소 내에서 촬영한 사진
    <br>- 선거법에 위반되는 사진
<br><br>
  </div>   %>
  <%# <div>
      Q6. 개인정보는 어떻게 다루나요?
      <br>선거 로또 당첨자 선정을 위하여 응모자의 학번, 이름, 핸드폰번호 개인정보를 수집합니다. 
      <br>당첨자의 개인정보는 상품 증정 이후 폐기되며, 미당첨자의 개인정보는 당첨자 선정 이후 즉시 폐기됩니다.<br><br>
  </div>  
  <div> %>
      <%# Q7. 당첨 상품은 어떻게 결정되나요?
      <br>후원금에서 웹서비스 운영비(서버, 도메인 비용 등)를 제외한 비용으로 결정됩니다.
      <br>1, 2, 3등의 상금은 최대 금액으로 제한을 하고, 4등을 최대한 많이 추첨하여 5만원씩 드리게 됩니다. (예를 들어 운영비를 제외한 후원금이 2,000만원일 경우, 4등 당첨자 수는 240명이 됩니다)
      <br>- 1등(1명) : 후원금의 50% (최대 500만 원)
      <br>- 2등(1명) : 후원금의 20% (최대 200만 원)
      <br>- 3등(1명) : 후원금의 10% (최대 100만 원)
      <br>- 4등(000명) : 5만 원
      <br>(1~3등의 경우, 제세공과금 22% 공제 지급)
<br> -------- 사이트에는 위 방법처럼 상금 분배를 하는데 상금 분배를 어떻게 할지에 대해서는 우리끼리 협의가 필요할 듯.---------------
<br><br>
  </div>   %>
  <%# <div>
      Q8. 당첨자는 언제 발표되나요?
      <br>선거 종료 다음날 오후 9시에 추첨진행 및 당첨자 발표가 됩니다. 
      <br>추첨 현장은 ‘고려대학교 총학생회 페이스북 페이지’에서 페이스북 라이브를 통해 생중계됩니다. 
      <br>참고로, 고려대학교 제51대 총학생회장단 선거 투표 기간은 12월 5일(화) ~ 12월 7일(목) 입니다.
<br><br>
  </div> %>