
<h1> 공약소개 페이지 </h1>

<%= link_to "공약소개 페이지 가보기", pledges_path %>
<%# 참여하는 방법 페이지 %>
<div class="howto_img_box">
    <%=image_tag "howto.jpg", class: "howto_img"%>
</div>

<p> 맨 첫번째 페이지 새로 만들어요오 원래 여기 있던 '어떻게 참여하나요' 페이지는 컨트롤러 새로 만들어서 거기로 보냄</p>
    


