<%# 임시페이지 %>
<html>
<div id="quiz"></div>
<button id="submit">Get Results</button>
<div id="results"></div>

<style>

.question{
    font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #3a8;
}
</style>
<script>
//문제는 편의상 홀수개로 정해주세요!
var myQuestions = [
    {
        question: "여러분은 사드배치에 대해 어떻게 생각하세요?",
        answers: {
            정책1: '찬성',
            정책2: '다음 정부가 결정해야함'
        },
        correctAnswer: '정책1'
    },
    {
        question: "우리 정부가 일자리를 더 많이 만들려면 어떻게 해야할까요?",
        answers: {
            정책1: '공공부문에서 일자리 늘리기',
            정책2: '창업과 중소기업을 지원',
        },
        correctAnswer: '정책2' 
        
    },
     {
        question: "일과 삶이 균형을 이루는 '저녁이 있는 삶'을 만들려면 정부가 무엇을 해야할까요?",
        answers: {
            정책1: '주 52시간 법정노동시간 지키기',
            정책2: '퇴근 후 돌발노동을 법적으로 금지',
        },
        correctAnswer: '정책2'
    }
];

var quizContainer = document.getElementById('quiz');
var resultsContainer = document.getElementById('results');
var submitButton = document.getElementById('submit');

generateQuiz(myQuestions, quizContainer, resultsContainer, submitButton);

function generateQuiz(questions, quizContainer, resultsContainer, submitButton){

    function showQuestions(questions, quizContainer){
        // we'll need a place to store the output and the answer choices
        var output = [];
        var answers;

        // for each question...
        for(var i=0; i<questions.length; i++){
            
            // first reset the list of answers
            answers = [];

            // for each available answer...
            for(letter in questions[i].answers){

                // ...add an html radio button
                answers.push(
                    '<label>'
                        + '<input type="radio" name="question'+i+'" value="'+letter+'">'
                        + letter + ': '
                        + questions[i].answers[letter]
                    + '</label>'
                );
            }

            // add this question and its answers to the output
            output.push(
                '<div class="question">' + questions[i].question + '</div>'
                + '<div class="answers">' + answers.join('') + '</div>'
            );
        }

        // finally combine our output list into one string of html and put it on the page
        quizContainer.innerHTML = output.join('');
    }


    function showResults(questions, quizContainer, resultsContainer){
        
        // gather answer containers from our quiz
        var answerContainers = quizContainer.querySelectorAll('.answers');
        
        // keep track of user's answers
        var userAnswer = '';
        var numCorrect = 0;
        //추가1
        var numInCorrect = 0;
        
        // for each question...
        for(var i=0; i<questions.length; i++){

            // find selected answer
            userAnswer = (answerContainers[i].querySelector('input[name=question'+i+']:checked')||{}).value;
            
            // if answer is correct
            if(userAnswer===questions[i].correctAnswer){
                // add to the number of correct answers
                numCorrect++;
                
                // color the answers green
                questions[i].correctAnswer.style.color = 'lightgreen';
            }
            // if answer is wrong or blank
            else{
                //추가2
                numInCorrect++; 
                // color the answers red
                answerContainers[i].style.color = 'red';
            }
        }

        // show number of correct answers out of total
        //resultsContainer.innerHTML = numCorrect + ' out of ' + questions.length + '/' + numInCorrect;

        //추가3
        if(numCorrect>numInCorrect){
             resultsContainer.innerHTML =  numCorrect + '/' + questions.length + '후보1 정책을 더 선호합니다.';
        }
        else{
             resultsContainer.innerHTML = numInCorrect + '/' + questions.length + '후보2 정책을 더 선호합니다' ;
        }
    }

    // show questions right away
    showQuestions(questions, quizContainer);
    
    // on submit, show results
    submitButton.onclick = function(){
        showResults(questions, quizContainer, resultsContainer);
    }
}
</script>
</html>
