<p>
  <strong>Name:</strong>
  <%= @hoowon.name %>
</p>

<p>
  <strong>Thing:</strong>
  <%= @hoowon.thing %>
</p>

<%= link_to 'Edit', edit_hoowon_path(@hoowon) %> |
<%= link_to 'Back', hoowons_path %>