<%# 참여하는 방법 페이지 %>
<div class="howto_img_box">
    <%=image_tag "howto.jpg", class: "howto_img"%>
</div>

<%# 본문 %>
<div class="container">
    <div class="howto_bar">
    </div>
    <div class="howto_text_title">
        참여하는 방법
    </div>

    <div class="howto_text_box d-flex align-items-end flex-column">
        <p class="howto_text_title2">1. 투표에 참여한 뒤 인증사진을 찍는다.</p>
        <p class="howto_text_normal">-오프라인 참여 시 손등 도장이나 현장 사진</p>
        <p class="howto_text_normal">-온라인 참여 시 참여 완료 화면 캡쳐</p>
    </div>
    
    <div class="howto_text_box d-flex align-items-start flex-column">
           <p class="howto_text_title2">2. 이름/학번 인증 후 응모에 참여한다.</p>
        <p class="howto_text_normal">-응모 기간은 선거기간과 동일합니다</p>
        <p class="howto_text_normal">-1인 1 참여를 위해 인증이 필요합니다</p>
    </div>

    <div class="howto_text_box d-flex align-items-end flex-column">
        <p class="howto_text_title2">3. 결과 발표를 기다린다.</p>
        <p class="howto_text_normal">- 선거 종료 다음날 9시에 페이스북으로 실시간 추첨 중계합니다</p>
    </div>
</div>
    