
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<nav class="navbar navbar-light">
  <a class="navbar-brand headerfont" href="vote_logs">고려대학교 제51대 총학생회 :<br>2019 선거 로또</a>
  <button id="hambug" class="navbar-toggler" style="border: none" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
    <span class="custom-toggler navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid bottom"></div>
  <div class="collapse navbar-light normalfont" id="collapsibleNavbar">
    <ul class="navbar-nav navwid">
      <li class="nav-item navcon" >
        <div class="line" style="float:right;"></div>
        <a class="nav-link navcon" style="margin-top: 5px" href="/participate">어떻게 참여하나요?</a>
      </li>
      <li class="nav-item navcon">
        <a class="nav-link" href="/pledgenewees">공약을 확인하세요!</a>
      </li>
      <li class="nav-item navcon">
        <a class="nav-link" href="/home/quizcard">공약 블라인드 QUIZ</a>
      </li>
      <li class="nav-item navcon">
        <a class="nav-link" href="/routers">투표는 언제 어디서 하나요?</a>
      </li>
      <li class="nav-item navcon">
        <a class="nav-link" href="/lottos">결과를 확인하세요!</a>
      </li>
      <li class="nav-item navcon">
        <a class="nav-link" href="/faq">궁금한 게 있어요!</a>
      </li>
      <li class="nav-item navcon">
        <a class="nav-link" href="/hoowons">후원하고 싶어요!</a>
      </li>
  </div>  
</nav>